    <tr>
      <td>
      <%= message.chat.sender.firstname %>
      </td>
        <td>
      <%= message.body %>
      </td>
        <td>
      <%= message.chat_id %>
      </td>
      <td>
        <%= link_to 'Ver', message_path(message), class: "btn btn-primary btn-sm" %>
        <%= link_to 'Editar', edit_message_path(message), class: "btn btn-primary btn-sm" %>
      </td>
    </tr>