<div class="container mt-4">

<br><br>

<h1 class="position-absolute top-0 start-50 translate-middle-x">Detalle del mensaje</h1>
<br>
<br>
<div class="card text-bg-light mb-3 mx-auto" style="max-width: 18rem;">
  <div class="card-header">Informacion</div>
  <div class="card-body">
    <p class="card-text">
  

<p>
<strong>Id del usuario: </strong>
<%= @message.user_id %>
</p>

<p>
<strong>Mensaje: </strong>
<%= @message.body %>
</p>

<p>
<strong>Chat asociado: </strong>
<%= @message.chat_id %>
</p>

<td>
<%= link_to 'Editar', edit_message_path, class: "btn btn-primary btn-sm" %>
<%= link_to 'Volver', messages_path, class: "btn btn-primary btn-sm" %>
</td>
    </p>
  </div>
  </div>
  </div>