    <tr>
      <td>
      <%= user.firstname %>
      </td>
      <td>
      <%= user.lastname %>
      </td>
      <td>
      <%= user.email %>
      </td>
        <td>
        <%= user.messages_count %>
        </td>
      <td>
        <%= link_to 'Ver', user_path(user), class: "btn btn-primary btn-sm" %>
        <%= link_to 'Editar', edit_user_path(user), class: "btn btn-primary btn-sm" %>
      </td>
    </tr>