<%= form_with(model: @user, local: true) do |form| %>
    <div>
    <%= form.label :firstname, "Nombre" %>
    <%= form.text_field :firstname, placeholder: "Escribe aqui tu nombre" %>
    </div>

    <div>
    <%= form.label :lastname, "Apellido" %>
    <%= form.text_field :lastname, placeholder: "Escribe aqui tu apellido" %>
    </div>

    <div>
    <%= form.label :email, "Email" %>
    <%= form.email_field :email, placeholder: "Escribe aqui tu email" %>
    </div>

    <div>
    <%= form.submit "Guardar" %>
    </div>
    <% end %>
